.comparison {
  display: flex;
  text-align: left;

  @include media-breakpoint-up(sm) {
    text-align: center;
  }

  &__promo-text {
    font-size: $font-size-xl;
    font-weight: $font-weight-light;
    line-height: $line-height-lg;
    color: $semiblack;
  }

  &__subtitle {
    margin-bottom: $gutter-element-md;
    font-size: $font-size-xl;
    font-weight: $font-weight-extrabold;
    line-height: $line-height-lg;
    color: map-get($theme-colors, primary);

    &--smaller {
      margin-bottom: $gutter-none;
      line-height: $line-height-md;
    }
  }

  &__div-chart {
    @include size(60px);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $gutter-none;
    background-color: $silver;
    border-radius: 50%;
  }

  &__icon-chart {
    @include size(30px);
  }

  &__labels {
    margin-bottom: $gutter-element-sm;
    color: $dark;
    text-transform: uppercase;
  }

  &__values {
    font-size: $font-size-xl;
    font-weight: $font-weight-extrabold;
    line-height: $line-height-md;
    color: map-get($theme-colors, secondary);
    text-align: center;
  }
}

.box {
  justify-content: center;
  padding: $spacer;
  margin-bottom: $gutter-element-md;
  border: 4px solid map-get($theme-colors, light);
  border-radius: $border-radius;

  &__footer {
    margin-top: $gutter-element-md;
    margin-bottom: $gutter-element-xs;
    font-weight: $font-weight-light;
    line-height: $line-height-base;
  }
}

.center-horizontal {
  display: flex;
  justify-content: center;
}
